@use '../util' as u;

// %widget {
//     padding: u.rem(16);
// }

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: u.rem(40);
    max-width: min(100% - u.rem(40), u.rem(1000));
    margin-inline: auto;

    @include u.breakpoint(large) {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
    }

    &__main, &__sidebar {
        padding: u.rem(40);
    }

    &__main {
      background: hsl(240, 99%, 33%);
    }

    &__sidebar {
    
       @include u.breakpoint-down(large) {
        text-align: center;
       }
    }

    &__widget {
        padding: u.rem(16);
       
        // &.green {
        //     @extend %widget;
        //     background: rgb(1, 134, 1);
        // }

        // &.magenta {
        //     @extend %widget;
        //     background: hsl(300, 100%, 30%);
        // }
    }

}